/* 
  

@media (max-width: 1200px) {
  .heading {
    margin-left: 9px;
    margin-right: 9px;
    /* display: flex;
    align-items: start;
    justify-content: flex-end; */
  /* } */
/* } */

/*
@media (max-width:400px) {
  .header{
    max-width: 100%; 
  }
  
} */